<div ng-controller="LayoutCtrl">
  <section role="main">
    <div class="row">
      <div class="vessel large-12 columns centered small-centered">
        <div ng-include src="templates.main"></div>
      </div>
    </div>
  </section>

  <footer role="contentinfo" class="foot">
    <div class="row">
      <div class="copyrights large-12 columns small-centered centered">
        Copyleft 2013 by <a href="http://nu7hat.ch/">nu7</a>.<br />
        <small>Some rights reserved.</small>
      </div>
    </div>
  </footer>
</div>
